
body {
    background-image: url(images/apocalypse.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
    
h1, h6 {
    font-family: 'ZCOOL KuaiLe', cursive;
    text-align: center;
    color: white;
    margin: 10vh 0 0 0; 
}

h6 {
    margin: 5vh;
}


/* #menu {
    display: grid; 
    grid-template-columns: 1;
    grid-template-rows: 2;
    gap: 20px;
    font-family: 'ZCOOL KuaiLe', cursive;
    text-align: center; 
    place-content: center;
    margin: 15vh auto;
    width: 30vh;
}

.start, .continue {
    background-color: rgba(0, 128, 0, .5);
    border: 5px solid black;
    padding: 10px;
    color: white;
}

.start {
    display: grid;
    grid-row-start: 1 / 2;
}

.continue {
    display: grid;
    grid-row-start: 2 / 3;
}  */

#character-choice {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    /* gap: 10vh; */
    border: 5px solid black; 
    font-family: 'Montserrat', sans-serif;
    text-align: center;  
    /* place-content: center;
    margin: 0 auto;
    width: 15vh; */
} 

#prepper, #normie, #pick {
    font-family: 'Montserrat', sans-serif;
    text-align: center; 
    background-color: rgba(0, 0, 0, .5);
    color: white;
    border: 5px solid black; 
}

#normie {
    display: grid;
    grid-column-start: 3 / 5;
    grid-row-start: 3 / 5;
    
}

#prepper {
    display: grid;
    grid-column-start: 1 / 3;
    grid-row-start: 3 / 5;

}

#pick {
    display: grid;
    grid-column-start: 1 / 5;
    grid-row-start: 1 / 2; 
}