
body {
    background-image: url(images/apocalypse.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
    
/* HEADING */
h1, h6 {
    font-family: 'ZCOOL KuaiLe', cursive;
    text-align: center;
    color: white;
    margin: 10vh 0 0 0; 
}

h6 {
    margin: 5vh;
}

/* MENU */
.menu {
    display: grid; 
    grid-template-columns: 1;
    grid-template-rows: 2;
    gap: 20px;
    font-family: 'ZCOOL KuaiLe', cursive;
    text-align: center; 
    place-content: center;
    margin: 15vh auto;
    width: 30vh;
}

#start, #continue {
    background-color: rgba(0, 128, 0, .5);
    border: 5px solid black;
    padding: 10px;
    color: white;
}

#start {
    display: grid;
    grid-row-start: 1 / 2;
}

#continue {
    display: grid;
    grid-row-start: 2 / 3;
} 

/* CHARACTER CHOICE */
.character-choice {
    visibility: hidden; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;  
    margin: 0 auto;
        gap: 5vh;
    width: 80vh; 
}

#pick {
    display: grid;
    grid-area: 1 / 1 / span 2 / span 4; 
    border: 5px solid black;
    background-color: rgba(0, 0, 0, .5);
} 

#prepper {
    display: grid;
    grid-area: 3 / 1 / span 2 / span 2;
    border: 5px solid black;
    background-color: rgba(0, 0, 0, .5);
}

#normie {
    display: grid;
    grid-area: 3 / 3 / span 2 / span 2;
    border: 5px solid black;
    background-color: rgba(0, 0, 0, .5);
}


img {
    display: grid;
    height: 25vh;
    width: 25vh;
    padding: 5vh;
}

/* PATHS */
.paths {
    visibility: hidden; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;  
    margin: 0 auto;
    gap: 5vh;
    width: 80vh; 
    padding: 2vh; 
    text-align: center;
}

#scenario {
    display: grid;
    grid-area: 1 / 1 / span 2 / span 4; 
    border: 5px solid black;
    background-color: rgba(0, 0, 0, .5);

} 


#path1 {
    display: grid;
    grid-area: 3 / 1 / span 2 / span 2;
    border: 5px solid black;
    background-color: rgba(0, 0, 0, .5);
}

#path2 {
    display: grid;
    grid-area: 3 / 3 / span 2 / span 2;
    border: 5px solid black;
    background-color: rgba(0, 0, 0, .5);
}



