/* BACKGROUND IMAGE  */

html {
    background: url(images/apocalypse.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}


/* HEADING */

h1,
h6 {
    font-family: 'ZCOOL KuaiLe', cursive;
    text-align: center;
    color: white;
}

h1 {
    margin: 15vh 0vh auto;
}

h6 {
    margin: 3vh auto;
}

/* MENU */

.menu {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
    gap: 20px;
    font-size: 18px;
    font-family: 'Squada One', cursive;
    place-content: center;
    text-align: center;
    margin: 10vh auto;
}

#start,
#continue {
    background-color: rgba(0, 128, 0, .5);
    border: 5px solid black;
    padding: 10px;
    color: white;
}

#start {
    display: grid;
    grid-row-start: 1 / 2;
}

#continue {
    display: grid;
    grid-row-start: 2 / 3;
}

/* CHARACTER CHOICE */

.character-choice {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: fit-content;
    gap: 3vh;
    color: black;
    font-family: 'Squada One', cursive;
    text-align: center;
    margin: 15vh auto;
    width: 80vh;
}

#pick,
#prepper,
#normie {
    border: 5px solid black;
    background-color: rgba(250, 250, 250, .5);
    align-content: center;
}

#pick {
    display: grid;
    grid-area: 1 / 1 / span 1 / span 2;
}

#prepper {
    display: grid;
    grid-area: 2 / 1 / span 2 / span 1;
    padding: 3vh;
}

#normie {
    display: grid;
    grid-area: 2 / 2 / span 2 / span 1;
    padding: 3vh;
}

img {
    display: grid;
    height: 25vh;
    width: 25vh;
    padding: 3vh;
}

/* PATHS */

.paths {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 3vh;
    color: black;
    font-family: 'Squada One', cursive;
    text-align: center;
    margin: 15vh auto;
    width: 80vh;
}

#scenario,
#path1,
#path2 {
    border: 5px solid black;
    background-color: rgba(250, 250, 250, .5);
    align-content: center;
    padding: 3vh;
}

#scenario {
    display: grid;
    grid-area: 1 / 1 / span 2 / span 4;
    height: fit-content;
    min-height: 10vh;
}


#path1 {
    display: grid;
    grid-area: 3 / 1 / span 2 / span 2;
    height: 10vh;
}

#path2 {
    display: grid;
    grid-area: 3 / 3 / span 2 / span 2;
    height: 10vh;
}


/* LOSE SCREEN */

.lose {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Squada One', cursive;
    font-size: 18px;
    text-align: center;
    margin: 25vh auto;
    width: 50vh;

}

#wrong-choice,
#try-again,
#end-game {
    border: 5px solid black;
    margin: 5px;
    align-content: center;
    padding: 2vh;
    background-color: rgba(0, 128, 0, .5);
}

/* WIN SCREENw  */

.win {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Squada One', cursive;
    font-size: 18px;
    text-align: center;
    margin: 25vh auto;
    width: 50vh;

}

.level-1-complete,
#main-menu,
#next-level {
    border: 5px solid black;
    margin: 5px;
    align-content: center;
    padding: 2vh;
    background-color: rgba(0, 128, 0, .5);
}